/*
 * Custom CSS goes here.
 */

#social-share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.concert-details-link {
    float: right;
    padding-left: 5px;
}

/*
.row0 td {
    background-color: #ccfff2;
}
.row1 td {
    background-color: #ccf2ff;
}
*/
