{% extends 'base.html' %}
 
{% load humanize %}

{% block title %}
{{ artist }}
{% endblock %}

{% block content %}
<h2 class="artist-title">
    {% if artist.home_page %}
        <a href="{{ artist.home_page }}">{{ artist }}</a>
    {% else %}
        {{ artist }}
    {% endif %}
</h2>
        {% for instrument in artist.instruments %}
            {% if forloop.first %}
                <h3>
            {% elif forloop.last %}
                , and
            {% else %}
                ,
            {% endif %}
            <a href="{{ instrument.get_absolute_url }}">{{ instrument }}</a>
            {% if forloop.last %}
                artist </h3>
            {% endif %}
        {% endfor %}
<div class="container"><div class="row">
    <div class="span8">
        <div class="artist-description well">
            {% if artist.description %}
                {{ artist.description|safe }}
            {% else %}
                No description found :(
            {% endif %}
        </div>
        <h3>Concerts</h3>
        <table class="table table-striped">
        {% for concert in artist.concert_set.all %}
            <tr class="{% cycle 'row0' 'row1' %}"> <td>
                {% include 'rasikapriya/concert_list_snippet.html' %}
            </td> </tr>
        {% endfor %}
        </table>
    </div>
    <div class="span4">
    </div>
</div></div>
{% endblock %}
