<div class="concert-details-link">
    <a href="{{ concert.get_absolute_url }}">Concert details</a>
</div>
<div class="concert-artists">
    {% for performance in concert.performance_set.select_related.all %}
        <a href="{{ performance.artist.get_absolute_url }}">{{ performance.artist }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
<div class="concert-time">
    {{ concert.date }} {{ concert.start_time }}
    {% if concert.end_time %}
        - {{ concert.end_time }}
    {% endif %}
</div>
<div class="concert-venue">
    <a href="{{ concert.cached_venue.get_absolute_url }}">{{ concert.cached_venue }}</a>
</div>
