{% extends 'base.html' %}
 
{% load humanize %}

{% block title %}
Classical music concert : {{ concert }}
{% endblock %}

{% block content %}
<h2 class="concert-title">
    {% with main_performer=concert.main_performer %}
        {{ main_performer.instrument }} concert by {{ main_performer.artist }}
    {% endwith %}
</h2>
<h3 class="concert-date">
    {{ concert.date }} at
        <a href="{{ concert.cached_venue.get_absolute_url }}">{{ concert.cached_venue }}</a>
</h3>
<div class="container"><div class="row">
    <div class="span8">
        <table class = "table table-condensed" >
        {% for performer in concert.performance_set.all %}
        <tr>
            <td>
                <a href="{{ performer.artist.get_absolute_url }}">{{ performer.artist }}</a>
                    (<a href="{{ performer.instrument.get_absolute_url }}">{{ performer.instrument }}</a>)
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="span4">
        <table class = "table table-condensed" >
        <tr>
             <td colspan="2" style="text-align: center;">
                 {% include 'sharing-buttons.html' with url=request.build_absolute_uri title=concert.title %}
             </td>
         </tr>
        <tr>
            <td>
                Concert rating
            </td>
        </tr>
        <tr>
            <td>
                {% include 'rasikapriya/venue_map.html' with venue=concert.cached_venue %}
            </td>
        </tr>
        {% if concert.festival %}
        <tr>
            <td>
                Other concerts in this festival.
            </td>
        </tr>
        {% endif %}
        </table>
    </div>
</div></div>
{% endblock %}
