<div class="concert-details-link">
    <a href="{{ concert.get_absolute_url }}">Concert details</a>
</div>
<div class="concert-artists">
    {% for performance in concert.performance_set.select_related.all %}
        <a href="{{ performance.artist.get_absolute_url }}">{{ performance.artist }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
<div class="concert-time">
    {{ concert.aware_start_time }}
    {% if concert.aware_end_time %}
        - {{ concert.aware_end_time }}
    {% endif %}
</div>
{% if concert.festival %}
    <div class="concert-festival">
        <a href="{{ concert.festival.get_absolute_url }}">{{ concert.festival }}</a>
    </div>
{% endif %}
<div class="concert-venue">
    <a href="{{ concert.cached_venue.get_absolute_url }}">{{ concert.cached_venue }}</a>
</div>
