{% extends 'base.html' %}
 
{% load humanize %}

{% block title %}
{{ festival }}
{% endblock %}

{% block content %}
<h2 class="festival-title">
    {% if festival.home_page %}
        <a href="{{ festival.home_page }}">{{ festival }}</a>
    {% else %}
        {{ festival }}
    {% endif %}
</h2>
<h4> Organized by {{ festival.organization }} </h4>

<div class="container"><div class="row">
    <div class="span8">
       {% if festival.description %}
        <div class="festival-description well">
           {{ festival.description|safe }}
        </div>
       {% endif %}
        <h3>Concerts at this festival</h3>
        <table class="table table-striped">
        {% for concert in festival.concert_set.all %}
            <tr> <td>
                {% include 'rasikapriya/concert_list_snippet.html' %}
            </td> </tr>
        {% endfor %}
        </table>
    </div>
    <div class="span4">
    {% if festival.venue %}
        {% include 'rasikapriya/venue_map.html' with venue=festival.venue %}
    {% endif %}
    </div>
</div></div>
{% endblock %}
